* {
    box-sizing: border-box;
}

body {
    background-color: rgb(160, 211, 194);
    font-family: 'Verdana', sans-serif;
}

.title {
    text-align: center;
    font-family: monospace;
    border: 2px black solid;
}

li {
    margin-bottom: 5px;
}

.container {
    background-color: white;
    margin: 20px auto;
    padding: 10px;
    width: 600px;
}

.recipelist {
    border: 2px black dotted;
    font-size: 20px;
}

.recipelist a:hover {
    color: orange;
}

.recipeimage {
    margin: 0 auto;
    display: block;
    border: 2px solid rgb(0, 0, 0);
    padding: 2px;
    background-color: white; 
}